<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.dao.ElderDao">
    <resultMap id="BaseResultMap" type="server.pojo.Elder">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="idCard" jdbcType="VARCHAR" property="idCard"/>
        <result column="date" jdbcType="VARCHAR" property="joinTime"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <association property="relatives" javaType="server.pojo.Relative"/>

    </resultMap>


    <select id="selectElderById" resultMap="BaseResultMap">

        SELECT e.*,r.*
        FROM Elder as e,Relatives as r
        where e.id = #{id} and r.elderId=#{id}

    </select>

    <select id="selectElderList" resultMap="BaseResultMap">
        SELECT e.*,r.*
        FROM Elder as e,Relatives as r
        where e.id = r.elderId
    </select>
    <select id="selectLastId" resultType="java.lang.Integer">
        select id
        from Elder
        order by id DESC
        limit 1
    </select>


    <delete id="deleteElderById" parameterType="string">
        delete
        from Elder
        where id = #{id}

    </delete>

    <insert id="createElder" keyColumn="id" keyProperty="id" parameterType="server.pojo.Elder"
            useGeneratedKeys="true">
        insert into Elder (`id`, `name`, sex, idCard,
                           birthday, phone, area,
                           joinTime)
        values (#{id},#{name},#{sex},#{idCard},#{birthday},#{phone},#{area},#{joinTime})

    </insert>


    <update id="updateElder" parameterType="server.pojo.Elder">
        update Elder
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                idCard = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="joinTime != null">
                joinTime = #{joinTime,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>

        </set>
        where id = #{id}

    </update>

</mapper>