<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.dao.ElderDao">
    <resultMap id="BaseResultMap" type="server.pojo.Elder">
        <id column="eid" jdbcType="INTEGER" property="id"/>
        <result column="ename" jdbcType="VARCHAR" property="name"/>
        <result column="esex" jdbcType="VARCHAR" property="sex"/>
        <result column="ebirthday" jdbcType="DATE" property="birthday"/>
        <result column="ephone" jdbcType="VARCHAR" property="phone"/>
        <result column="eidCard" jdbcType="VARCHAR" property="idCard"/>
        <result column="ejoinTime" jdbcType="VARCHAR" property="joinTime"/>
        <result column="earea" jdbcType="VARCHAR" property="area"/>
        <collection property="relatives" ofType="server.pojo.Relative">

            <id column="id" property="id"/>
            <result column="sex" property="sex"/>
            <result column="birthday" property="birthday"/>
            <result column="phone" property="phone"/>
            <result column="idCard" property="idCard"/>
            <result column="address" property="address"/>
            <result column="elderId" property="elderId"/>
        </collection>

    </resultMap>


    <select id="selectElderById" resultMap="BaseResultMap">

        SELECT e.id       as eid,
               e.name     as ename,
               e.sex      as esex,
               e.birthday as ebirthday,
               e.idCard   as eidCard,
               e.phone    as ephone,
               e.area     as earea,
               e.joinTime as ejoinTime,
               r.id,
               r.name,
               r.sex,
               r.birthday,
               r.phone,
               r.idCard,
               r.address,
               r.elderId
        FROM Elder as e
                 left join Relative as r
                           on e.id = r.elderId
        where e.id = #{id}
          and e.isDeleted = 0

    </select>

    <select id="selectElderList" resultMap="BaseResultMap">
        SELECT e.id       as eid,
               e.name     as ename,
               e.sex      as esex,
               e.birthday as ebirthday,
               e.idCard   as eidCard,
               e.phone    as ephone,
               e.area     as earea,
               e.joinTime as ejoinTime,
               r.id,
               r.name,
               r.sex,
               r.birthday,
               r.phone,
               r.idCard,
               r.address,
               r.elderId
        FROM Elder as e
                 left join Relative as r
                           on e.id = r.elderId
        where e.isDeleted = 0
    </select>
    <select id="selectLastId" resultType="java.lang.Integer">
        select id
        from Elder
        order by id DESC
        limit 1
    </select>


    <update id="deleteElderById" parameterType="int">
        update Elder
        set isDeleted=1
        where id = #{id}
    </update>

    <insert id="createElder" keyColumn="id" keyProperty="id" parameterType="server.pojo.Elder"
            useGeneratedKeys="true">
        insert into Elder (`id`, `name`, sex, idCard,
                           birthday, phone, area,
                           joinTime)
        values (#{id}, #{name}, #{sex}, #{idCard}, #{birthday}, #{phone}, #{area}, #{joinTime})

    </insert>


    <update id="updateElder" parameterType="server.pojo.Elder">
        update Elder
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                idCard = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="joinTime != null">
                joinTime = #{joinTime,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>

        </set>
        where id = #{id} and isDeleted=0

    </update>

</mapper>