<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot_93.mapper.ElderMapper">
  <resultMap id="BaseResultMap" type="com.iot_93.entity.Elder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="ring_id" jdbcType="INTEGER" property="ringId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="Id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="child_name" jdbcType="VARCHAR" property="childName" />
    <result column="child_id" jdbcType="VARCHAR" property="childId" />
    <result column="n_id" jdbcType="INTEGER" property="nId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ring_id, `name`, sex, birthday, phone, Id_card, start_time, address, child_name, 
    child_id, n_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.iot_93.entity.ElderKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Elder
    where id = #{id,jdbcType=INTEGER}
      and ring_id = #{ringId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.iot_93.entity.ElderKey">
    delete from Elder
    where id = #{id,jdbcType=INTEGER}
      and ring_id = #{ringId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.iot_93.entity.Elder" useGeneratedKeys="true">
    insert into Elder (ring_id, `name`, sex, 
      birthday, phone, Id_card, 
      start_time, address, child_name, 
      child_id, n_id)
    values (#{ringId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{phone,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{childName,jdbcType=VARCHAR}, 
      #{childId,jdbcType=VARCHAR}, #{nId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.iot_93.entity.Elder" useGeneratedKeys="true">
    insert into Elder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ringId != null">
        ring_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="idCard != null">
        Id_card,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="childName != null">
        child_name,
      </if>
      <if test="childId != null">
        child_id,
      </if>
      <if test="nId != null">
        n_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ringId != null">
        #{ringId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="childName != null">
        #{childName,jdbcType=VARCHAR},
      </if>
      <if test="childId != null">
        #{childId,jdbcType=VARCHAR},
      </if>
      <if test="nId != null">
        #{nId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iot_93.entity.Elder">
    update Elder
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        Id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="childName != null">
        child_name = #{childName,jdbcType=VARCHAR},
      </if>
      <if test="childId != null">
        child_id = #{childId,jdbcType=VARCHAR},
      </if>
      <if test="nId != null">
        n_id = #{nId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and ring_id = #{ringId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iot_93.entity.Elder">
    update Elder
    set `name` = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      phone = #{phone,jdbcType=VARCHAR},
      Id_card = #{idCard,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      child_name = #{childName,jdbcType=VARCHAR},
      child_id = #{childId,jdbcType=VARCHAR},
      n_id = #{nId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
      and ring_id = #{ringId,jdbcType=INTEGER}
  </update>
</mapper>