<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.dao.RingDao">


    <update id="updateRingInfo">

        update RingInfo
        set battery=#{battery}
        and date_time=#{dateTime}
        where ring_id = #{ringId}

    </update>


    <select id="queryDataByTime" resultType="java.util.Map">

        SELECT *

        FROM Position as t1,
             Posture as t2,
             PhysicalData as t3,
             RingInfo as t4

        WHERE t1.date_time = t2.date_time
          and t2.date_time = t3.date_time
          and t3.date_time = t4.date_time
          and t1.date_time &gt; #{startTime}
          and t1.date_time &lt; #{endTime}
          and t1.ring_id=#{ringId}


    </select>

    <select id="queryLastRingInfo" resultType="java.util.Map">
        select *
        from RingInfo
        where ring_id = #{ringId}
    </select>

    <select id="queryLastPosture" resultType="java.util.Map">
        select *
        from Posture
        where ring_id = #{ringId}
        order by id DESC
        limit 1
    </select>
    <select id="queryLastPhysiological" resultType="server.pojo.PhysicalData">
        select *
        from PhysicalData
        where ring_id = #{ringId}
        order by id DESC
        limit 1
    </select>

    <select id="queryLastPosition" resultType="server.pojo.Position">
        select *
        from Position
        where ring_id = #{ringId}
        order by id DESC
        limit 1
    </select>
    <select id="getSafeArea" resultType="java.lang.String">
        select area
        from Elder
        where id = #{id}
    </select>


    <insert id="insertPosition" >
        insert into Position
        values (null, #{lat}, #{lng}, #{ringId}, #{dateTime})
    </insert>

    <insert id="insertPosture" >

        insert into Posture
        values (null, #{acceleration}, #{palstance}, #{ringId}, #{dateTime})
    </insert>
    <insert id="insertPhysiological">
        insert into PhysicalData
        values (null, #{heartRate}, #{bloodPressuer}, #{temperature}, #{ringId}, #{dateTime})
    </insert>
    <insert id="insertRingInfo" >
        insert into RingInfo
        values (#{ringId}, #{battery}, #{dateTime})
    </insert>

    <insert id="createRingInfo">
        insert into RingInfo
        values (#{ringId}, 100, #{dateTime})
    </insert>

</mapper>