<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.dao.RingDao">

    <resultMap id="ringRecordMap" type="server.pojo.RingRecord" autoMapping="true">
        <id column="ring_id" property="id"/>
        <result column="battery" property="battery"/>
        <result column="time" property="time"/>
        <association property="physical" javaType="server.pojo.PhysicalData">
            <result column="heartRate" property="heartRate"/>
            <result column="bloodPressuer" property="bloodPressure"/>
            <result column="temperature" property="temperature"/>
        </association>
        <association property="position" javaType="server.pojo.Position">
            <result column="lng" property="lng"/>
            <result column="lat" property="lat"/>
        </association>


    </resultMap>

    <update id="updateRingInfo">

        update RingInfo
        set battery=#{battery}
          , date_time=#{dateTime}
        where ring_id = #{ringId}

    </update>
    <delete id="deleteByElderId">
        delete
        from RingInfo
        where ring_id = #{id}
    </delete>


    <select id="queryDataByTime" resultType="java.util.Map">

        SELECT t1.ring_id       as ring_id,
               t3.battery       as battery,
               t2.heartRate     as heartRate,
               t2.bloodPressuer as bloodPressuer,
               t2.temperature   as temperature,
               t1.lng           as lng,
               t1.lat           as lat,
               t1.date_time     as time
        FROM Position as t1
                 left join PhysicalData as t2 on t1.id = t2.id

                 left join RingInfo as t3 on t2.ring_id = t3.ring_id

        where t1.ring_id = #{ringId}
          and t1.date_time &gt; #{startTime}
          and t1.date_time &lt; #{endTime}


    </select>

    <select id="queryLastRingInfo" resultType="java.util.Map">
        select *
        from RingInfo
        where ring_id = #{ringId}
    </select>

    <select id="queryLastPosture" resultType="java.util.Map">
        select *
        from Posture
        where ring_id = #{ringId}
        order by id DESC
        limit 1
    </select>
    <select id="queryLastPhysiological" resultType="server.pojo.PhysicalData">
        select *
        from PhysicalData
        where ring_id = #{ringId}
        order by id DESC
        limit 1
    </select>

    <select id="queryLastPosition" resultType="server.pojo.Position">
        select *
        from Position
        where ring_id = #{ringId}
        order by id DESC
        limit 1
    </select>
    <select id="getSafeArea" resultType="java.lang.String">
        select area
        from Elder
        where id = #{ringId}
    </select>


    <insert id="insertPosition">
        insert into Position
        values (null, #{lat}, #{lng}, #{ringId}, #{dateTime})
    </insert>

    <insert id="insertPosture">

        insert into Posture
        values (null, #{acceleration}, #{palstance}, #{ringId}, #{dateTime})
    </insert>
    <insert id="insertPhysiological">
        insert into PhysicalData
        values (null, #{heartRate}, #{bloodPressuer}, #{temperature}, #{ringId}, #{dateTime})
    </insert>
    <insert id="insertRingInfo">
        insert into RingInfo
        values (#{ringId}, #{battery}, #{dateTime})
    </insert>

    <insert id="createRingInfo">
        insert into RingInfo
        values (#{ringId}, 100, #{dateTime})
    </insert>

</mapper>